* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #555;
    justify-content: space-between;
    align-items: center;
}
.post__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
